<?xml version="1.0"?>

<model>
  <name>wooden watch tower</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jaden Lin</name>
    <email>jadenlin0106@gmail.com</email>
  </author>

  <description>
    A wooden watch tower.
  </description>

</model>
