<launch>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  <!-- remap any topic before include if you want -->
  <remap from="/Zed_sim/depth/point_cloud/cloud_registered" to="/Zed_sim/point_cloud/cloud_registered"/> 
  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/zed_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="turtlebot3_gazebo" type="pc_sub" name="Master_Nnode" output="screen" />

  <node pkg="turtlebot3_gazebo" type="sim_wrapper" name="Sim_wrapper" />

  <node pkg="tf" type="static_transform_publisher" name="odom_to_map"  args="0 0 0 0 0 0  /map /Zed_sim/odom 100" />

</launch>
